.error{
    color:red;
}

.progress {
    text-align: left;
    display: none;
    position: relative;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
    padding-bottom: 17px;
}

.bar {
    background-color: #3683c5;
    width: 0%;
    height: 16px;
    border-radius: 3px;
}

.percent {
    position: absolute;
    display: inline-block;
    top: 1px;
    left: 48%;
}